# This is the number used as the upper threshold in imagej particle analysis
proc_threshold = 160

# Any file with average % area greater than this will get a flag of x
area_threshold_lower = 0.025

# Any file with average % area greater than this will get a flag of xx
area_threshold_upper = 0.05

# Sigma radius to use with unsharp mask to try and replicate epson setting.
unsharp_sigma = 1.5

# Mask weight to use with unsharp mask to try and replicate epson setting.
unsharp_weight = 0.5

# if true, then the unsharp mask will be skipped
unsharp_skip = false

# if true, the unsharp masked image will be renamed as a new file. Otherwise, it will overwrite the original.
unsharp_rename = false

# x coordinate in inches of upper left corner of scan area
scan_x1 = 1.05

# y coordinate in inches of upper left corner of scan area
scan_y1 = 8.98

# x coordinate in inches of lower right corner of scan area
scan_x2 = 3.05

# y coordinate in inches of lower right corner of scan area
scan_y2 = 9.98

